<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/header.css">
    <script src="../javascript/login.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="header-flex">
        <header>
            <div class="rrlogo">
                <img src="../assets/icons/LOGO-RR 2.svg" alt="Logo Radium Rocket">
            </div>
            <div class="h1-header">
            <h1>
                Gigatech Software Solutions SA
            </h1>
            </div>
        </header>
    </div>
    <main>
        <form>
            <h1 class="login-title">
                Log in
            </h1>
            <div>
                <label>Email</label>
                <input id="email" type="text" placeholder="Email">
                <p id="email-error" class="hidden">Error: email not valid</p>
            </div>
            <div>
                <label>Password</label>
                <input id="password" type="password" placeholder="Password">
                <p id="password-error" class="hidden">Error: password not valid</p>
            </div>
            <div class="buttons">
                <button id="btn-login" type="submit"><a href="#">Login</a></button>
                <button id="btn-cancel"><a href="#">Cancel</a></button>
            </div>
        </form>
    </main>
    <footer>
        <h5>
            © 2022 GigaTech Sofware Solutions SA.
        </h5>
        <div id="footer-links">
            <a href="#">
                <img src="../assets/icons/facebook.svg" alt="Facebook">
            </a>
            <a href="#">
                <img src="../assets/icons/twitter.svg" alt="Twitter">
            </a>
            <a href="#">
                <img src="../assets/icons/linkedin.svg" alt="Linkedin">
            </a>
        </div>
    </footer>
</body>
</html>