header{
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #373867;
    width: 100%;
    height: 100px;
    top:0;
}
.h1-header{
    display: flex;
    align-self: center;
}
header h1{
    display: flex;
    align-self: center;
    max-width: 600px;
    font-family: 'roboto';
    font-size: 40px;
    font-weight: bold;
    color: #C4C4C4;
    margin-left: 20px;
}
.rrlogo{
    display: flex;
    align-items: center;
}
