header{
    display: flex;
    justify-content: space-around;
    background-color: #373867;
    width: 37.1vw;
    height: 29.98vh;
}
header h1{
    display: flex;
    align-self: center;
    width: 24.4vw;
    font-family: 'roboto';
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}
.rrlogo{
    display: flex;
    align-items: center;
}
