body{
    width: 1550px;
}
header{
    position: fixed;
    width: 1700px;
    height: 110px;
    background-color: #373867;
    z-index: 1;
}
header h1{
    position: relative;
    left: 400px;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 60px;
    color: #FFFFFF;
    top: -50px;
}
.rrlogo{
    position: relative;
    top: 18px;
    left: 48px;
}
aside{
    position: fixed;
    background-color: #c4c4c4;
    width: 370px;
    height: 1550px;
    border-radius: 5px;
    top: 110px;
}
nav{
    position: relative;
}
.nav-search{
display: inline;
position: relative;
margin: 30px;
top: 30px;
}
.nav-search i{
    color: #373867;
    margin: 10px;
}
nav input{
    border-color: #373867;
    border-radius: 5px;
    background-color: #c4c4c4;
    height: 30px;
}
nav ul{
    position: relative;
    top: 40px;
}
#ul-links li a{
    top:37px;
    position: relative;
    text-decoration: underline;
    font-family: 'roboto';
    font-size: 30px;
    font-weight: 400;
    color: #373867;
    left: 68px;
}
#ul-links li{
    margin-bottom: 40px;
}
nav h2{
    position: relative;
    font-family: 'roboto';
    font-size: 30px;
    font-weight: 400;
    color: #373867;
    top: 100px;
    left: 68px;
}
.p-1{
    position: relative;
    border-bottom: #373867 solid 2px;
    top: 85px;
}
#ul-contact li a{
    position: relative;
    top: 85px;
    font-family: 'roboto';
    font-size: 20px;
    font-weight: 500;
    color: #373867;
    margin-left: 10px;
    text-decoration: none;
}
#ul-contact li i{
    position: relative;
    top: 85px;
    color: #373867;
    margin-left: 10px;
}
#ul-contact li{
    margin-bottom: 20px;
}
.p-2{
    position: relative;
    border-bottom: #373867 solid 2px;
    top: 120px;
}
/**/
main{
    position: relative;
    left: 370px;
    background-color: #FFFFFF;
    top: 110px;
}
main h2{
    position: relative;
    display: inline;
    font-family: 'roboto';
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline #373867 solid 3px;
    color: #373867;
    left: 462px;
    top: 40px;
}
#first-section{
    position: relative;
    width: 100%;
    height: 700px;
}
#first-card{
    position: relative;
    width: 650px;
    top: 85px;
    left: 50px;
}
#first-text h3{
font-family: 'roboto';
font-size: 30px;
font-weight: bold;
color: #373867;
margin-top: 15px;
}
#first-text p{
    height: 115px;
    width: 550px;
    margin-top: 15px;
    font-family: 'roboto';
    font-size: 25px;
    font-weight: 400;
    color: #373867;
}
#first-text input{
    position: relative;
    left: 530px;
    bottom: 40px;
    background-color:#3738671b;
    border: 0;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: bold;
    color: #37386754;
    width: 80px;
    height: 33px;
    border-radius: 5px;
}
#second-card{
    position: relative;
    float: right;
    bottom:480px;
    right: 510px;
    width: 330px;
    height: 155px;
}
#second-text h3{
    position: relative;
    float: right;
    font-family: 'roboto';
    font-size: 30px;
    font-weight: bold;
    color: #373867;
    bottom: 150px;
    right: 5px;
}
#second-text p{
    position: relative;
    font-family: 'roboto';
    font-size: 25px;
    font-weight: 600;
    color: #373867;
    left: 150px;
    bottom: 100px;
}
#second-text input{
    position: relative;
    left: 310px;
    bottom: 100px;
    background-color:#3738671b;
    border: 0;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: bold;
    color: #37386754;
    width: 80px;
    height: 33px;
    border-radius: 5px;

}
#p-fs{
    position: relative;
    border-bottom: #373867 solid 2px;
    width: 445px;
    float: right;
    bottom: 290px;
    right: 65px;
}
#third-card{
    position: relative;
    left: 710px;
    bottom: 280px;
}
#third-text h3{
    position: relative;
    font-family: 'roboto';
    font-size: 30px;
    font-weight: bold;
    color: #373867;
    left: 150px;
    bottom: 165px;
    width: 50px;
}
#third-text p{
    position: relative;
    font-family: 'roboto';
    font-size: 25px;
    font-weight: 600;
    color: #373867;
    width: 240px;
    left: 150px;
    bottom: 140px;
}
#third-text input{
    position: relative;
    left: 310px;
    bottom: 150px;
    background-color:#3738671b;
    border: 0;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: bold;
    color: #37386754;
    width: 80px;
    height: 33px;
    border-radius: 5px;
}
#p-second-s{
    position: relative;
    border-bottom: #373867 solid 2px;
    width: 445px;
    bottom: 140px;
}
#section-one-divisor{
    position: relative;
    border-bottom: #373867 solid 2px;
    width: 1200px;
    bottom: 320px;
}
#second-section{
    position: relative;
    width: 100%;
}
#trayectory-section h3{
    position: relative;
    font-family: 'roboto';
    font-size: 30px;
    font-weight: bold;
    color: #373867;
    top: -30px;
    text-align: center;
}
#trayectory-section p{
    position: relative;
    float: left;
    width: 300px;
    font-family: 'roboto';
    font-size: 25px;
    font-weight: 400;
    color: #373867;
    left: 95px;
}
#second-section img{
    position: relative;
    left: 200px;
}
#section-two-divisor{
    position: relative;
    border-bottom: #373867 solid 2px;
    width: 1200px;
    top: 10px;
}